.flex-container {
  display: flow-root;
  justify-content: center;
}

.flex-container>h1 {
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 44px;
  text-transform: uppercase;
}

.flex-container>form {
  margin: 10px;
  text-align: center;
  font-size: 23px;
}

.flex-container>ul {
  margin: 10px;
  text-align: center;
  line-height: 42px;
  list-style-type: none;
}

.youtubeClip {
  text-align: center;
}

a {
  text-decoration: none;
}

input {
  margin: 5px;
}

button {
  margin-right: 6px;
  text-align: center;
  font-size: 14px;
}